body {
   background: #EFFCFF;
}

footer a {
 color:white;
}

footer {
 background: #ff3b3f;
 color:white;
}

.post blockquote {
   padding: 0 15px;
   color: #777;
   border-left: 1px solid #white;
}
