body {
   color:#3D0256;
}

a{
  color:#3D0256;
}

footer {
 background:  #3D0256;
 color:white;
}

footer a {color:white;}

.post blockquote {
   padding: 0 15px;
   color: #777;
   border-left: 1px solid #3D0256;
}
