 body {
    color:#1e392a;
}

a {
  color:#1e392a;
}

footer a {
  color:white;
}

footer {
  background: #1e392a;
  color:white;
}

.post blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 1px solid #1e392a;
}
