/*1*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     font-size: 100%;
     vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

q, blockquote {
    quotes: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*2*/
html {
    background-color: #fafafa;
    width: 100%;
    font-family: Arial ;
    font-size: 16px;
    line-height: 1.8em;
    color: #333;
}

.post {
    line-height: 1.6em;
    font-size: 1.2em;
    margin: 15px 0px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

div, body {
    width: 100%;
    float: left;
}

em, i {
    font-style: italic;
}

a{
    text-decoration: none;
    font-variant: small-caps;
    font-size:1.2em;
    color: #333;
    font-family:Georgia;
}

a:hover {
    color: #459eca;
}

ul li {
    list-style: none;
}

/*3*/
.content {
    width: 80%;
    margin:3% 10%;
}

.small{
    width: 30%;
    margin-right: 5%;
}

.large {
    width: 65%;
}

.name, .title {
    height: 3.2em;
}

.name a{
    line-height: 1.7em;
    letter-spacing: 1px;
    font-size:1.9em;
    display: inline-block;
}

.title{
    display: table;
}

.title span {
  display: table-cell;
}

.title a, .title span {
    font-variant: normal;
    vertical-align: middle;
}

.title a {
  color: #459eca;
}

.info, .profession {
    font-size:1.2em
}

.profession{
    line-height: 1.8em;
    font-family: Georgia;
}

.fa {
    font-size: 0.5em !important;
}

/* who wants to go down the rabbit hole? */
.fake-a {
  color: #333 !important;
}

@media only screen and (min-width: 1700px){
    .small{
        width: 20%;
        margin-right:5%;
    }
    .large {
       width: 75%;
    }
}

@media only screen and (max-device-width: 800px){
    .content {
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .small, .large {
        width: 100%;
        margin: 0;
    }

    .post {
        text-align: left;
        padding: 5px;
        line-height: 1.7em;
    }

    .info li {
        display: inline;
        padding-right:5px;
    }
}

.post-list {
    text-transform: lowercase;
}

/*4*/
.post a {
    color: #459eca;
    font-variant: normal;
    font-size: inherit;
    font-family: Arial ;
}

.post strong {
  font-weight: bold;
}


.post pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.post hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #459eca;
}

.post hr:before {
  display: table;
  content: "";
}

.post hr:after {
  display: table;
  clear: both;
  content: "";
}

.post blockquote {
  margin: 0;
}

.post ul,
.post ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.post ul li {
  list-style: disc;
}

.post ol ol,
.post ul ol {
  list-style-type: lower-roman;
}

.post ul ul ol,
.post ul ol ol,
.post ol ul ol,
.post ol ol ol {
  list-style-type: lower-alpha;
}

.post dd {
  margin-left: 0;
}

.post pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 0.9em Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.post p,
.post blockquote,
.post ul,
.post ol,
.post dl,
.post table,
.post pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.post hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #459eca;
  border: 0 none;
}

.post ul,
.post ol {
  padding-left: 2em;
}

.post ul ul,
.post ul ol,
.post ol ol,
.post ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.post li>.post {
  margin-top: 16px;
}

.post dl {
  padding: 0;
}

.post dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.post dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.post blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 1px solid #459eca;
}

.post blockquote>:first-child {
  margin-top: 0;
}

.post blockquote>:last-child {
  margin-bottom: 0;
}

.post table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.post table th {
  font-weight: bold;
}

.post table th,
.post table td {
  padding: 6px 13px;
  border: 1px solid #459eca;
}

.post table tr {
  background-color: #fff;
  border-top: 1px solid #459eca;
}

.post table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.post img {
  max-width: 100%;
  box-sizing: border-box;
}

.post code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.post code:before,
.post code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.post pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.post .highlight {
  margin-bottom: 16px;
}

.post pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.post pre {
  word-wrap: normal;
}

.post cite{
  display: block;
  color: #333;
  }
