@import url('https://fonts.googleapis.com/css?family=Rajdhani');

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size:17px;
  background: #FCF8EC;
  color:#42449D;
  line-height: 1.5;
}

a {
  color:#42449D;
  cursor: pointer;
  text-decoration: none;
}

/*flexbox, bitches*/
.site-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 20px;
  font-family: Rajdhani;
  font-size: 1.2em;
}

.menu{
  min-width: 70%;
}

.menu li {
  display: inline;
  padding: 0px 15px;
}

.logo {
  font-weight: bold;
}
