<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=yes" />
    <title>Eduardo Asafe</title>
    <meta name="author" content="Eduardo Asafe" />
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="all" />
</head>

<body>
    <div class="page">
        <header class="page-header">
            <span><a href="/" class="logo">Eduardo Asafe </a><span class="what"> Full Stack Developer & Occasionally
                    Writer </span></span>
            <ul class="menu">
                <li>
                    <a class="link-projects" href="/projects">projects</a>
                </li>
                <li>
                    <a href="https://github.com/easafe">github</a>
                </li>
                <li>
                    <a href="#">contact</a>
                    <ul>
                        <li><a href="mailto:e@asafe.dev">email</a></li>
                    </ul>
                </li>
            </ul>
        </header>

        <article class="post">
