<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=yes" />
    <title>Eduardo Asafe</title>
    <meta name="author" content="Asafe Ribeiro" />
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="all" />
    {% if page.tag %}
      <link rel="stylesheet" href="/css/{{ page.tag }}.css" type="text/css" media="all" />
    {% elsif page.tags[0] %}
      <link rel="stylesheet" href="/css/{{ page.tags[0] }}.css" type="text/css" media="all" />
    {% endif %}
</head>

<body>
    <div class="page">
        <header class="page-header">
            <ul class="menu">
                <li>
                    <a href="/resume">resume</a>
                </li>
                <li>
                    <a href="https://github.com/azafeh">github</a>
                </li>
                <li>
                    <a href="#">projects</a>
                </li>
                <li>
                    <a href="#">contact</a>
                        </li>       
            </ul>
            <span class="logo"><a href="/">Eduardo Asafe</a></span>
        </header>
        <article class="post">
