<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=yes" />
    <title>Asafe Ribeiro</title>
    <meta name="author" content="Asafe Ribeiro" />
    <link rel="stylesheet" href="/css/site2.css" type="text/css" media="all" />
</head>

<body>
    <div class="site">
        <header class="site-header">
            <ul class="menu">
                <li>
                    <a href="https://github.com/azafeh">github</a>
                </li>
                <li>
                    <a href="https://twitter.com/azafeh">twitter</a>
                </li>
                <li>
                    <a href="mailto:azafeh@azafeh.com">email</a>
                </li>
                <!-- drop down with links -->
                <li>
                    <a>projects</a>
                </li>
            </ul>
            <span class="logo"><a>Asafe Ribeiro</a></span>
        </header>
        <article>
            {{ content }}
        </article>
        <footer>
            some stuff
        </footer>
    </div>
</body>

</html>
